
header {
    background: black;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    width: 100%;

    nav {
        display: flex;
        align-items: center;
        width: 100%;

        li {
            display: inline;
            text-decoration: none;
            font-size: 18px;
            padding-right: 50px;
            text-align: center;

            .orange {
                color: $color-proncipal;
            }
        }
    }
}